.screen {
    background: var(--screen-bg);
    height: $screen-height;
    width: $screen-width;
    box-shadow: $screen-box-shadow;
    z-index: 1;
    padding: $screen-padding;
    display: flex;
    flex-flow: column wrap;
    #screen-form {
        height: $screen-top-height;
        display: flex;
        flex-flow: row wrap;
        .select-container {
            height: 48%;
            width: $screen-left-width;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .digit-box {
            height: 48%;
            width: $screen-right-width;
            font-size: $digit-font-size;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .divider {
            width: 100%;
            height: 1px;
            background: #eee;
        }
    }
    #screen-infobox {
        height: $screen-bottom-height;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;
        .rate-div .fas, .last-update-div .fas {
            margin-right: 0.3rem;
        }
        .rate-div [data-rate], .last-update-div [data-last-update]{
            color: $text-muted;
        }
    }
}